/nbproject/private/
/AS-HistorialMedico-war/nbproject/private/
/AS-HistorialMedico-ejb/nbproject/private/
/AS-HistorialMedico-war/build/
/AS-HistorialMedico-ejb/dist/
/AS-HistorialMedico-ejb/build/
/AS-HistorialMedico-war/dist/
/dist/
/build/